# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
lerna-debug.log*

# Backend
backend/node_modules
backend/dist-ssr
backend/.env

# Frontend (ignore root-level src, public, and index.html)
src/
public/
index.html

# Editor and OS files
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
